@import "./_keyframes.scss";

$success: "toast-success";
$success-dark: "toast-success-dark";
$error: "toast-error";
$error-dark: "toast-error-dark";
$warning: "toast-warning";
$warning-dark: "toast-warning-dark";
$info: "toast-info";
$info-dark: "toast-info-dark";

$classes: (
  $success: "border border-green-400 bg-green-100/90",
  $success-dark: "bg-gradient-to-r from-teal-700 to-slate-900",
  $error: "border border-red-400 bg-red-100/90",
  $error-dark: "bg-gradient-to-r from-rose-900/70 to-slate-900",
  $warning: "border border-orange-300 bg-orange-100/90",
  $warning-dark: "bg-gradient-to-r from-yellow-900/70 to-slate-900",
  $info: "border border-blue-400 bg-blue-100/90",
  $info-dark: "bg-gradient-to-r from-blue-900/70 to-slate-900",
);
@each $key, $value in $classes {
  .#{$key} {
    @apply #{$value};
  }
}

$progressBarDuration: (
  "sec-3": "before:animate-[progress_3s_linear_forwards]",
  "sec-4": "before:animate-[progress_4s_linear_forwards]",
  "sec-5": "before:animate-[progress_5s_linear_forwards]",
  "sec-6": "before:animate-[progress_6s_linear_forwards]",
  "sec-7": "before:animate-[progress_7s_linear_forwards]",
  "sec-8": "before:animate-[progress_8s_linear_forwards]",
  "sec-9": "before:animate-[progress_9s_linear_forwards]",
  "sec-10": "before:animate-[progress_10s_linear_forwards]",
);

@each $key, $value in $progressBarDuration {
  .#{$key} {
    @apply #{$value};
  }
}

$animationTypes: (
  "slide": "slide",
  "zoom": "zoom",
  "flip": "flip",
  "bounce": "bounce",
);

@mixin timing-function($key) {
  @if $key == "bounce" {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  @if $key == "slide" {
    animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.35);
  }
}

@each $key, $value in $animationTypes {
  .show-#{$key} {
    @if $key == "slide" or $key == "bounce" {
      &-top-left,
      &-bottom-left {
        animation: #{$value}InLeft 0.5s forwards;
        @include timing-function($key);
      }

      &-top-right,
      &-bottom-right {
        animation: #{$value}InRight 0.5s forwards;
        @include timing-function($key);
      }
      &-top-center {
        animation: #{$value}InUp 0.5s forwards;
        @include timing-function($key);
      }
      &-bottom-center {
        animation: #{$value}InDown 0.5s forwards;
        @include timing-function($key);
      }
    } @else {
      &-top-left,
      &-top-right,
      &-bottom-left,
      &-bottom-right,
      &-top-center,
      &-bottom-center {
        animation: #{$value}In 0.5s forwards;
        @include timing-function($key);
      }
    }
  }

  .hide-#{$key} {
    @if $key == "slide" or $key == "bounce" {
      &-top-left,
      &-bottom-left {
        animation: #{$value}OutLeft 0.5s forwards;
        @include timing-function($key);
      }

      &-top-right,
      &-bottom-right {
        animation: #{$value}OutRight 0.5s forwards;
        @include timing-function($key);
      }
      &-top-center {
        animation: #{$value}OutUp 0.5s forwards;
        @include timing-function($key);
      }
      &-bottom-center {
        animation: #{$value}OutDown 0.5s forwards;
        @include timing-function($key);
      }
    } @else {
      &-top-left,
      &-top-right,
      &-bottom-left,
      &-bottom-right,
      &-top-center,
      &-bottom-center {
        animation: #{$value}Out 0.5s forwards;
        @include timing-function($key);
      }
    }
  }
}

.toast {
  @apply p-4 min-w-[286px] max-w-max rounded-md shadow-lg cursor-pointer font-medium grid grid-cols-7 items-center overflow-hidden;

  &__content {
    @apply text-black/70 text-sm font-bold col-span-5;
  }

  &__content_dark {
    @apply text-white text-sm font-bold col-span-5;
  }
}

.progress {
  @apply absolute bottom-0 left-0 w-full h-0.5 bg-slate-500 rounded-br-md rounded-bl-md;

  &::before {
    @apply content-[""] absolute bottom-0 right-0 h-full w-full;
  }

  &-success::before {
    @apply bg-green-400;
  }

  &-error::before {
    @apply bg-red-500;
  }

  &-warning::before {
    @apply bg-orange-600;
  }

  &-info::before {
    @apply bg-blue-400;
  }
}
